<div class="row">
    <div class="col-6">
        <a class="btn btn-outline-primary" href="/home/download-template" download>Örnek Şablon indir</a>
    </div>
    <div class="col-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" value="Dosya seçilmedi" id="file-text" readonly aria-describedby="button-addon2">
            <button class="btn btn-info" type="button" id="button-addon2" onclick="document.getElementById('upload-input').click();">Seç</button>
            <button class="btn btn-success" type="button" id="button-addon2" onclick="uploadFile();">Yükle</button>
            <button class="btn btn-danger" type="button" id="button-addon2" onclick="clearUploadInput();">Temizle</button>
            <form enctype="multipart/form-data">
                <input type="file" name="file" id="upload-input" hidden accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            </form>
        </div>
    </div>
</div>
<h6> Yükleme Bilgisi: <span id="upload-results" style="color: orangered;"></span></h6>

<table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th>Satır Sayısı</th>
            <th>Hata Mesajı</th>
        </tr>
    </thead>
    <tbody> </tbody>
</table>